In [1]:
import pandas as pd
import os

In [2]:
dir_path = '/home/se/paper/legacy/data'

In [3]:
match = pd.read_csv(os.path.join(dir_path,'match_day.csv'))

In [4]:
match['date'].unique()

array([20200505, 20200506, 20200507, 20200508, 20200509, 20200510,
       20200512, 20200513, 20200514, 20200515, 20200516, 20200517,
       20200519, 20200520, 20200521, 20200522, 20200523, 20200524,
       20200526, 20200527, 20200528, 20200529, 20200530, 20200531,
       20200602, 20200603, 20200604, 20200605, 20200606, 20200607,
       20200609, 20200610, 20200611, 20200612, 20200613, 20200614,
       20200616, 20200617, 20200618, 20200619, 20200620, 20200621,
       20200623, 20200624, 20200625, 20200626, 20200627, 20200628,
       20200630, 20200701, 20200702, 20200703, 20200704, 20200705,
       20200707, 20200708, 20200709, 20200710, 20200711, 20200713,
       20200714, 20200715, 20200716, 20200717, 20200718, 20200719,
       20200721, 20200722, 20200724, 20200725, 20200726, 20200727,
       20200728, 20200729, 20200730, 20200731, 20200801, 20200802,
       20200804, 20200805, 20200806, 20200807, 20200808, 20200809,
       20200811, 20200812, 20200813, 20200814, 20200815, 20200816,
       20200818, 20200819, 20200820, 20200821, 20200822, 20200823,
       20200824, 20200825, 20200826, 20200827, 20200828, 20200829,
       20200830, 20200901, 20200902, 20200903, 20200904, 20200905,
       20200906, 20200907, 20200908, 20200909, 20200910, 20200911,
       20200912, 20200913, 20200915, 20200916, 20200917, 20200918,
       20200919, 20200920, 20200922, 20200923, 20200924, 20200925,
       20200926, 20200927, 20200929, 20200930, 20201001, 20201002,
       20201003, 20201004, 20201006, 20201007, 20201008, 20201009,
       20201010, 20201011, 20201013, 20201014, 20201015, 20201016,
       20201017, 20201018, 20201020, 20201021, 20201022, 20201023,
       20201024, 20201025, 20201027, 20201028, 20201029, 20201030,
       20201031, 20210321, 20210322, 20210323, 20210325, 20210326,
       20210328, 20210329, 20210330, 20210403, 20210404, 20210406,
       20210407, 20210408, 20210409, 20210410, 20210411, 20210413,
       20210414, 20210415, 20210416, 20210417, 20210418, 20210420,
       20210421, 20210422, 20210423, 20210424, 20210425, 20210427,
       20210428, 20210429, 20210430, 20210501, 20210502, 20210505,
       20210506, 20210507, 20210508, 20210509, 20210511, 20210512,
       20210513, 20210514, 20210515, 20210516, 20210517, 20210518,
       20210519, 20210520, 20210521, 20210522, 20210523, 20210526,
       20210527, 20210528, 20210529, 20210530, 20210601, 20210602,
       20210603, 20210604, 20210605, 20210606, 20210608, 20210609,
       20210610, 20210611, 20210612, 20210613, 20210615, 20210616,
       20210617, 20210618, 20210619, 20210620, 20210622, 20210623,
       20210624, 20210625, 20210626, 20210627, 20210629, 20210630,
       20210701, 20210702, 20210704, 20210705, 20210706, 20210707,
       20210708, 20210709, 20210710, 20210711])

In [7]:
pitcher_stat = pd.read_csv(os.path.join(dir_path,'pitcher_stat.csv'))

In [8]:
pitcher_stat

,name,team,oppositeTeam,w,l,save,hld,blown,game,gs,...,k,bb,hr,babip,lob,era,ra,fip,kfip,war
0,박세웅,롯데,두산,2,0,0,0,0,4,4,...,4.85,2.08,0.69,0.173,72.9,2.77,1.06,4.07,4.14,0.51
1,이인복,롯데,두산,0,0,0,0,0,3,1,...,12.79,4.26,0.00,0.444,54.5,5.68,0.13,1.92,1.33,0.26
2,김원중,롯데,두산,1,0,3,0,1,5,0,...,8.44,1.69,0.00,0.500,44.4,8.44,0.05,2.03,1.68,0.23
3,프랑코,롯데,두산,2,0,0,0,0,4,3,...,8.10,2.70,1.62,0.294,52.9,6.48,0.00,5.14,5.05,0.21
4,스트레일리,롯데,두산,1,2,0,0,0,4,4,...,7.52,3.98,1.33,0.344,59.0,5.31,0.05,4.92,4.86,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2035,양현,키움,SSG,0,1,0,0,0,6,0,...,5.79,9.64,1.93,0.389,34.5,7.71,-0.17,8.06,8.56,-0.03
2036,문성현,키움,SSG,0,0,0,0,0,1,0,...,0.0,18.0,0.0,0.000,100.0,0.0,0.03,9.34,10.86,-0.03
2037,김정인,키움,SSG,0,0,0,0,0,2,2,...,9.0,4.5,2.25,0.217,76.1,5.62,0.06,6.47,6.44,-0.06
2038,이승호,키움,SSG,0,1,0,0,0,5,0,...,4.15,10.38,0.0,0.438,33.3,12.46,-0.23,5.88,6.5,-0.08
2039,김태훈,키움,SSG,0,0,1,1,2,9,0,...,4.0,6.0,1.0,0.179,94.3,2.0,0.33,5.9,6.29,-0.09

In [9]:
average = pd.read_csv(os.path.join(dir_path,'average.csv'))

In [21]:
average

,name,team,w,l,save,hld,blown,game,gs,ip,k,bb,hr,babip,lob,era,ra,fip,kfip,war
0,박세웅,롯데,0.125000,0.000000,0.000000,0.0,0.000000,0.500000,0.500000,2.650000,1.090000,0.415000,0.260000,0.037750,8.337500,0.778750,0.018750,0.723750,0.710000,0.020000
1,이인복,롯데,0.125000,0.000000,0.000000,0.0,0.000000,0.250000,0.125000,0.762500,0.888750,0.355000,0.000000,0.051125,9.087500,0.532500,0.015000,0.338750,0.320000,0.025000
2,김원중,롯데,0.111111,0.222222,0.444444,0.0,0.111111,0.888889,0.000000,1.000000,1.111111,0.666667,0.333333,0.022222,7.577778,0.777778,0.011111,0.827778,0.818889,-0.001111
3,프랑코,롯데,0.000000,0.111111,0.000000,0.0,0.000000,0.444444,0.333333,1.666667,0.866667,0.400000,0.266667,0.036222,9.055556,0.600000,0.016667,0.697778,0.690000,-0.006667
4,스트레일리,롯데,0.111111,0.111111,0.000000,0.0,0.000000,0.444444,0.444444,2.466667,1.235556,0.264444,0.176667,0.030111,10.222222,0.308889,0.107778,0.440000,0.385556,0.082222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,브리검,키움,0.400000,0.000000,0.000000,0.0,0.000000,0.400000,0.400000,2.600000,1.524000,0.276000,0.276000,0.042400,15.680000,0.692000,0.080000,0.914000,0.890000,0.046000
304,스미스,키움,0.500000,0.000000,0.000000,0.0,0.000000,0.500000,0.500000,3.500000,1.285000,1.285000,0.645000,0.050000,41.650000,1.285000,0.150000,2.745000,2.895000,-0.005000
305,박관진,키움,0.000000,0.000000,0.000000,0.0,0.000000,0.500000,0.000000,0.050000,0.000000,13.500000,0.000000,0.333500,16.650000,27.000000,-0.065000,6.170000,7.230000,-0.010000
306,문성현,키움,0.000000,0.000000,0.000000,0.0,0.000000,0.250000,0.000000,0.250000,0.000000,4.500000,0.000000,0.000000,25.000000,0.000000,0.007500,2.335000,2.715000,-0.007500
307,조영건,키움,0.000000,0.000000,0.000000,0.0,0.000000,1.000000,0.000000,1.000000,27.000000,18.000000,0.000000,1.000000,100.000000,0.000000,0.030000,3.340000,2.350000,0.010000

In [22]:
article = pd.read_csv(os.path.join(dir_path,'article.csv'))

In [23]:
article

,team,date,time,image,contents
0,키움,20160101,오전 09:16,https://imgnews.pstatic.net/image/421/2016/01/...,"'단일 경기사용구·비디오판독·돔구장' 새해, 달라지는 것들 2016시즌 처음으로 ..."
1,키움,20160101,오전 05:51,https://imgnews.pstatic.net/image/109/2016/01/...,넥센 히어로즈의 2016시즌은 유망주들에게 달려 있다. 넥센은 2016년 새해를 ...
2,키움,20160103,오후 03:09,https://imgnews.pstatic.net/image/396/2016/01/...,"염경엽·이택근 ‘원숭이띠 리더’, 넥센 이끄는 힘 〔정정욱 기자〕 2016년 ‘원숭..."
3,키움,20160103,오후 12:26,https://imgnews.pstatic.net/image/477/2016/01/...,창단 후 8년을 살던 목동에서 고척동으로 이사 가며 뚜껑을 '득템'했다. 그런데 ...
4,키움,20160103,오전 06:04,https://imgnews.pstatic.net/image/109/2016/01/...,넥센 히어로즈 외야수 허정협이 팀의 장타력 약화를 막을 수 있을까. 넥센은 최근 ...
...,...,...,...,...,...
134246,롯데,20210711,오전 07:10,https://imgnews.pstatic.net/image/311/2021/07/...,2000안타 '따 놓은 당상'…손아섭 기념구 고르기 롯데 자이언츠 손아섭이 사실상...
134247,롯데,20210711,오전 07:00,https://imgnews.pstatic.net/image/117/2021/07/...,"‘5월 잊어라!’ 달라진 프랑코, 롯데 마운드도 숨통 트였다 압도적인 건 아니지만..."
134248,롯데,20210712,오전 10:35,https://imgnews.pstatic.net/image/109/2021/07/...,"'100폭투 페이스' 롯데 안방, 2년 전 악몽 시즌으로 리셋 2년 전 악몽의 시..."
134249,롯데,20210712,오전 08:08,https://imgnews.pstatic.net/image/472/2021/07/...,"롯데, 13일부터 홈 6연전에 '힘내라! 시리즈' 진행 롯데자이언츠는 7월 13일부..."
134250,롯데,20210712,오전 07:23,https://imgnews.pstatic.net/image/425/2021/07/...,"롯데, 13일~18일 홈 6연전에 ‘힘내라! 시리즈’로 다양한 이벤트 마련 프로야구..."

In [24]:
kobert_dataset = pd.read_csv('/home/se/paper/classifier/refined_dataset.csv')

In [25]:
kobert_dataset

                                                 context  label
0      KBO리그는 비약적인 발전을 했지만  코로나 19  사태와 각종 사고로 인해 인기는...      1
1       디펜딩 챔피언  KT 위즈의 에이스 윌리엄 쿠에바스가 여전한 위용을 과시했다 쿠에...      1
2      2일 경기도 수원케이티위즈파크에서 열린 2022 KBO리그 프로야구 개막전 삼성 라...      1
3      2일 오후 경기 수원 장안구 KT위즈파크에서 열린  2022 신한은행 SOL KBO...      1
4       삼성과 타이 브레이크에서 이겼던 영향이 어느 정도 있다고 생각한다  kt 에이스 ...      1
...                                                  ...    ...
23188   한화 이글스의 새 외국인 투수 예프리 라미레즈가 두 번째 등판에서는  외인다운  ...      1
23189  5월 15일 대전 롯데 자이언츠전 5회말  한화 이글스 2루수 정은원은 박세웅을 상...      1
23190  지난 21일 LG 상대로 KBO리그 데뷔전에서 한화 선발투수 라미레즈가 교체돼 더그...      1
23191  2021년 9월 13일 서울 블루스퀘어에서 열린 2022 신인 드래프트  제공   ...      1
23192  최하위로 처진 한화가 2군에서 희망을 찾을 수 있을까  일단 기대할 만한 선수들이 ...      1

[23193 rows x 2 columns]